.outer{
    background-color: rgb(255, 153, 153);
    width: 1080px;
    height: 720px;
    
    .top{
        padding: 10px;
        height: 200px;

        h1{
            font-size: 50px;
            font-weight: 100;
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
        }
    }

    // .middle{

    // }

    // .bottom{

    // }
}

.background-black{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    height: 200px;
}