body {
  font-family: 'Neuton', serif;
  margin: 0;
}
.outer {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
}
.outer .top {
  background-color: #9fa9a3;
  background-repeat: no-repeat;
  padding: 10px;
  height: 5%;
  font-family: 'Dancing Script', cursive;
  font-size: 37px;
  font-weight: 100;
  color: #ffffff;
  text-align: left;
}
.outer .top .nav {
  font-family: 'Neuton', serif;
  padding: 5px;
  font-size: 20px;
}
.outer .top .nav a {
  float: right;
  text-align: center;
  padding: 10px;
}
.outer .about {
  height: 30%;
  width: 100%;
  background-color: #e3e0cc;
}
.outer .about h1 {
  padding: 10px;
  font-size: 50px;
  font-weight: 100;
  color: #000;
  text-align: center;
}
.outer .projects {
  height: 600px;
  background-color: #c5d5c5;
  font-family: 'Dancing Script', cursive;
  padding: 0;
}
footer {
  background-color: #9fa9a3;
  font-family: 'Neuton', serif;
  font-size: 20px;
  text-align: center;
  height: 50px;
  padding: 10px;
}
