.outer{
    margin: 5px;
    background-color: rgb(255, 153, 153);
    background-size: cover;
    
    .top{
        padding: 10px;
        height: 200px;

        h1{
            font-size: 15px;
            font-weight: 100;
        }

        .background-black{
            background-color: rgba(0, 0, 0, 0.6);
            position: fixed;
            height: 200px;
        }
    }

    .middle{

    }

    .bottom{

    }
}